name: build

on:
  pull_request:
    paths:
      - 'build.sh'
      - '.github/workflows/build.yml'

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: FedericoCarboni/setup-ffmpeg@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install inkscape
        run: |
          sudo add-apt-repository -y ppa:inkscape.dev/stable
          sudo apt-get -y update
          sudo apt-get install -y inkscape

      - name: build-dot
        run: |
          STYLE=dot ./build.sh

      - name: build-number
        run: |
          STYLE=number ./build.sh

