name: validate renovate

on:
  pull_request:
    paths:
      - 'renovate.json'
      - '.github/workflows/validate-renovate.yml'
  push:
    branches:
      - master

jobs:
  validate-renovate:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@v6

      - name: install
        run: |
          npm install -g renovate
      - name: validate
        run: |
          renovate-config-validator
