name: validate renovate

on:
  pull_request:
    paths:
      - 'renovate.json'
      - '.github/workflows/validate-renovate.yml'
  push:
    branches:
      - master

jobs:
  validate-renovate:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v6

      - name: install
        run: |
          npm install -g renovate
      - name: validate
        run: |
          renovate-config-validator
